    <!-- About Us -->
    <section class="about-us-page-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInLeft">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title">about us</span>
                <h5 class="pq-section-main-title">
                  we have a to of fun process we grow
                </h5>
              </div>
              <ul class="pq-list-check-2">
                <li>
                  <i class="ion ion-checkmark-round"></i>
                  <span>Come to Our King Stone Store for a Visit</span>
                </li>
                <li>
                  <i class="ion ion-checkmark-round"></i>
                  <span>Take Your time to choose our collection</span>
                </li>
                <li>
                  <i class="ion ion-checkmark-round"></i>
                  <span>Let's Find the Best Natural Stone</span>
                </li>
                <li>
                  <i class="ion ion-checkmark-round"></i>
                  <span>Delivery & Installation</span>
                </li>
              </ul>
              <div class="pq-manager-info">
                <div class="pq-image-box pq-style-3">
                  <div class="pq-image-box-img">
                    <img src="images/testimonial/6.jpg" alt="" />
                  </div>
                  <div class="pq-image-box-content">
                    <h5 class="pq-image-box-title">Alex Jhon Martin</h5>
                    <p class="pq-image-box-description">Manager</p>
                  </div>
                </div>
                <img src="images/sign.png" class="sign" alt="" />
              </div>
            </div>
            <div
              class="col-xl-4 col-lg-6 col-md-6 mt-4 mt-md-0 wow animated zoomIn"
            >
              <img src="images/about-us/5.jpg" class="img-fluid w-100" alt="" />
            </div>
            <div class="col-xl-4 col-lg-12 mt-4 mt-xl-0 wow animated fadeInRight">
              <div class="pq-section-title pq-style-1">
                <h5 class="pq-section-main-title">
                  provide solutions of every kind
                </h5>
                <p class="pq-section-description">
                  providing solutions to its customers, King Stone can take a
                  consultative approach, working closely with clients to
                  understand their needs &amp; preferences.
                </p>
              </div>
              <div class="pq-progressbar-box pq-progressbar-style-1 pq-mb-45">
                <div class="pq-progressbar-content">
                  <span class="progress-title">Wooden Flooring</span>
                  <span class="progress-value">90% </span>
                  <div class="pq-progress-bar">
                    <span data-width="90" class="show-progress"></span>
                  </div>
                </div>
                <div class="pq-progressbar-content">
                  <span class="progress-title">Ceramic Tiles</span>
                  <span class="progress-value">79% </span>
                  <div class="pq-progress-bar">
                    <span data-width="79" class="show-progress"></span>
                  </div>
                </div>
              </div>
              <a class="pq-button pq-button-flat" href="about-us.html">
                <div class="pq-button-block">
                  <span class="pq-button-text">read more </span>
                  <span class="pq-button-line-right"></span>
                  <i class="ion ion-ios-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- About Us -->