    <!-- Counter -->
    <section class="counter pq-counter-padding pq-bg-primary">
      <div class="container">
        <div class="row text-center">
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div
              class="pq-counter pq-counter-style-1 text-center pq-border-right"
            >
              <div class="pq-counter-media">
                <i class="flaticon-trowel"></i>
              </div>
              <div class="pq-counter-info">
                <div class="pq-counter-num-prefix">
                  <h5 class="timer" data-to="786" data-speed="5000">786</h5>
                  <span class="pq-counter-prefix">+</span>
                </div>
                <p class="pq-counter-description">Client Satisfaction</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-md-0">
            <div
              class="pq-counter pq-counter-style-1 text-center pq-border-right"
            >
              <div class="pq-counter-media">
                <i class="flaticon-chisel"></i>
              </div>
              <div class="pq-counter-info">
                <div class="pq-counter-num-prefix">
                  <h5 class="timer" data-to="600" data-speed="5000">600</h5>
                  <span class="pq-counter-prefix">+</span>
                </div>
                <p class="pq-counter-description">Export On Worldwide</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
            <div
              class="pq-counter pq-counter-style-1 text-center pq-border-right"
            >
              <div class="pq-counter-media">
                <i class="flaticon-blueprint"></i>
              </div>
              <div class="pq-counter-info">
                <div class="pq-counter-num-prefix">
                  <h5 class="timer" data-to="989" data-speed="5000">989</h5>
                  <span class="pq-counter-prefix">+</span>
                </div>
                <p class="pq-counter-description">Amazing Projects</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
            <div class="pq-counter pq-counter-style-1 text-center">
              <div class="pq-counter-media">
                <i class="flaticon-suckers"></i>
              </div>
              <div class="pq-counter-info">
                <div class="pq-counter-num-prefix">
                  <h5 class="timer" data-to="125" data-speed="5000">125</h5>
                  <span class="pq-counter-prefix">+</span>
                </div>
                <p class="pq-counter-description">Productions Plan</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter -->