    <!-- Discover -->
    <section class="discover">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-8 wow animated fadeInRight">
            <div class="pq-section-title pq-style-1">
              <span class="pq-section-sub-title">our client</span>
              <h5 class="pq-section-main-title">descover our creation</h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 wow animated fadeInRight">
            <div class="button-align">
              <a class="pq-button pq-button-flat" href="faq.html">
                <div class="pq-button-block">
                  <span class="pq-button-text">view more </span>
                  <span class="pq-button-line-right"></span>
                  <i class="ion ion-ios-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="divider pq-left-border pq-45"></div>
          </div>
          <div class="col-lg-12 wow fadeInUp">
            <div class="pq-accordion-block pq-style-3">
              <div class="pq-accordion-block">
                <div class="pq-accordion-box pq-active 1">
                  <div class="pq-ad-title">
                    <h4 class="ad-title-text">
                      What are the different types of marble?
                      <i
                        aria-hidden="true"
                        class="ion ion-plus-round active"
                      ></i
                      ><i
                        aria-hidden="true"
                        class="ion ion-minus-round inactive"
                      ></i>
                    </h4>
                  </div>
                  <div class="pq-accordion-details">
                    <p class="pq-detail-text">
                      There are many different types of marble, each with its
                      own unique characteristics, color, and veining patterns.
                      Some popular types of marble include Carrara, Calacatta,
                      Crema Marfil, Emperador, and Nero Marquina.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pq-accordion-block">
                <div class="pq-accordion-box 2">
                  <div class="pq-ad-title">
                    <h4 class="ad-title-text">
                      Can marble be used in high-traffic areas?
                      <i
                        aria-hidden="true"
                        class="ion ion-plus-round active"
                      ></i
                      ><i
                        aria-hidden="true"
                        class="ion ion-minus-round inactive"
                      ></i>
                    </h4>
                  </div>
                  <div class="pq-accordion-details">
                    <p class="pq-detail-text">
                      Marble is a durable material that can be used in
                      high-traffic areas, but it may require more maintenance
                      and care than other materials. It’s important to choose a
                      type of marble that is suitable for the specific
                      application and to properly seal and maintain the surface.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pq-accordion-block">
                <div class="pq-accordion-box 3">
                  <div class="pq-ad-title">
                    <h4 class="ad-title-text">
                      What is the best way to clean marble?
                      <i
                        aria-hidden="true"
                        class="ion ion-plus-round active"
                      ></i
                      ><i
                        aria-hidden="true"
                        class="ion ion-minus-round inactive"
                      ></i>
                    </h4>
                  </div>
                  <div class="pq-accordion-details">
                    <p class="pq-detail-text">
                      Marble should be cleaned regularly with a soft, damp cloth
                      and a pH-neutral cleaning solution. Avoid using acidic or
                      abrasive cleaners that can damage the surface of the
                      marble.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pq-accordion-block">
                <div class="pq-accordion-box 4">
                  <div class="pq-ad-title">
                    <h4 class="ad-title-text">
                      How can I prevent stains on my marble surface?
                      <i
                        aria-hidden="true"
                        class="ion ion-plus-round active"
                      ></i
                      ><i
                        aria-hidden="true"
                        class="ion ion-minus-round inactive"
                      ></i>
                    </h4>
                  </div>
                  <div class="pq-accordion-details">
                    <p class="pq-detail-text">
                      To prevent stains on a marble surface, it’s important to
                      clean up spills as soon as possible and to avoid using
                      acidic or abrasive substances on the surface.
                      Additionally, the marble should be properly sealed to
                      protect against stains and etching.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pq-accordion-block">
                <div class="pq-accordion-box 5">
                  <div class="pq-ad-title">
                    <h4 class="ad-title-text">
                      Can marble be repaired if it's damaged?
                      <i
                        aria-hidden="true"
                        class="ion ion-plus-round active"
                      ></i
                      ><i
                        aria-hidden="true"
                        class="ion ion-minus-round inactive"
                      ></i>
                    </h4>
                  </div>
                  <div class="pq-accordion-details">
                    <p class="pq-detail-text">
                      Minor damage to marble, such as scratches or chips, can
                      often be repaired using a marble repair kit. However, more
                      extensive damage may require professional repair or
                      replacement of the affected area.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pq-accordion-block">
                <div class="pq-accordion-box 6">
                  <div class="pq-ad-title">
                    <h4 class="ad-title-text">
                      Is marble durable?
                      <i
                        aria-hidden="true"
                        class="ion ion-plus-round active"
                      ></i
                      ><i
                        aria-hidden="true"
                        class="ion ion-minus-round inactive"
                      ></i>
                    </h4>
                  </div>
                  <div class="pq-accordion-details">
                    <p class="pq-detail-text">
                      Marble is a relatively soft stone compared to other
                      natural stones, such as granite or quartzite, and can be
                      prone to scratches, chips, and staining. However, with
                      proper care and maintenance, marble can be a durable
                      material that can last for many year
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Discover -->