    <section class="flooring p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 p-0">
            <div class="pq-service-box pq-style-5">
              <div class="pq-service-media">
                <div class="pq-service-img">
                  <img
                    decoding="async"
                    src="images/gallery/3.jpg"
                    alt="service-img"
                  />
                </div>
              </div>
              <div class="pq-service-info">
                <div class="pq-service-icon">
                  <i class="flaticon-floor" aria-hidden="true"></i>
                </div>
                <h5 class="pq-service-title"><a>laminate flooring</a></h5>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but majority have suffered
                </p>
              </div>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-link">
                  <div class="pq-button-block">
                    <div class="pq-svg">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="64.356"
                        height="36.52"
                        viewBox="0 0 64.356 36.52"
                      >
                        <g transform="translate(-6.444 -1.74)">
                          <g data-name="Group 2">
                            <circle
                              data-name="Ellipse 2"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                              opacity="0.5"
                            ></circle>
                            <circle
                              data-name="Ellipse 3"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                            ></circle>
                          </g>
                          <path
                            data-name="Path 1"
                            d="M49.525,14.265l-.627.779,5.583,4.5H6.444v1h48.02L48.9,24.954l.621.783L56.7,20.044Z"
                            fill="#ffffff"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 p-0">
            <div class="pq-service-box pq-style-5">
              <div class="pq-service-media">
                <div class="pq-service-img">
                  <img
                    decoding="async"
                    src="images/gallery/8.jpg"
                    alt="service-img"
                  />
                </div>
              </div>
              <div class="pq-service-info">
                <div class="pq-service-icon">
                  <i class="flaticon-stones" aria-hidden="true"></i>
                </div>
                <h5 class="pq-service-title"><a>marble flooring</a></h5>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but majority have suffered
                </p>
              </div>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-link">
                  <div class="pq-button-block">
                    <div class="pq-svg">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="64.356"
                        height="36.52"
                        viewBox="0 0 64.356 36.52"
                      >
                        <g transform="translate(-6.444 -1.74)">
                          <g data-name="Group 2">
                            <circle
                              data-name="Ellipse 2"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                              opacity="0.5"
                            ></circle>
                            <circle
                              data-name="Ellipse 3"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                            ></circle>
                          </g>
                          <path
                            data-name="Path 1"
                            d="M49.525,14.265l-.627.779,5.583,4.5H6.444v1h48.02L48.9,24.954l.621.783L56.7,20.044Z"
                            fill="#ffffff"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 p-0">
            <div class="pq-service-box pq-style-5">
              <div class="pq-service-media">
                <div class="pq-service-img">
                  <img
                    decoding="async"
                    src="images/gallery/9.jpg"
                    alt="service-img"
                  />
                </div>
              </div>
              <div class="pq-service-info">
                <div class="pq-service-icon">
                  <i class="flaticon-tile-1" aria-hidden="true"></i>
                </div>
                <h5 class="pq-service-title"><a>kitchen renovation</a></h5>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but majority have suffered
                </p>
              </div>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-link">
                  <div class="pq-button-block">
                    <div class="pq-svg">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="64.356"
                        height="36.52"
                        viewBox="0 0 64.356 36.52"
                      >
                        <g transform="translate(-6.444 -1.74)">
                          <g data-name="Group 2">
                            <circle
                              data-name="Ellipse 2"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                              opacity="0.5"
                            ></circle>
                            <circle
                              data-name="Ellipse 3"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                            ></circle>
                          </g>
                          <path
                            data-name="Path 1"
                            d="M49.525,14.265l-.627.779,5.583,4.5H6.444v1h48.02L48.9,24.954l.621.783L56.7,20.044Z"
                            fill="#ffffff"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 p-0">
            <div class="pq-service-box pq-style-5">
              <div class="pq-service-media">
                <div class="pq-service-img">
                  <img
                    decoding="async"
                    src="images/gallery/7.jpg"
                    alt="service-img"
                  />
                </div>
              </div>
              <div class="pq-service-info">
                <div class="pq-service-icon">
                  <i class="flaticon-tile-1" aria-hidden="true"></i>
                </div>
                <h5 class="pq-service-title"><a>industrial flooring</a></h5>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but majority have suffered
                </p>
              </div>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-link">
                  <div class="pq-button-block">
                    <div class="pq-svg">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="64.356"
                        height="36.52"
                        viewBox="0 0 64.356 36.52"
                      >
                        <g transform="translate(-6.444 -1.74)">
                          <g data-name="Group 2">
                            <circle
                              data-name="Ellipse 2"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                              opacity="0.5"
                            ></circle>
                            <circle
                              data-name="Ellipse 3"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                            ></circle>
                          </g>
                          <path
                            data-name="Path 1"
                            d="M49.525,14.265l-.627.779,5.583,4.5H6.444v1h48.02L48.9,24.954l.621.783L56.7,20.044Z"
                            fill="#ffffff"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="col-xl-3 col-lg-6 col-md-6 p-0">
            <div class="pq-service-box pq-style-5">
              <div class="pq-service-media">
                <div class="pq-service-img">
                  <img
                    decoding="async"
                    src="images/gallery/7.jpg"
                    alt="service-img"
                  />
                </div>
              </div>
              <div class="pq-service-info">
                <div class="pq-service-icon">
                  <i class="flaticon-tile-1" aria-hidden="true"></i>
                </div>
                <h5 class="pq-service-title"><a>industrial flooring</a></h5>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but majority have suffered
                </p>
              </div>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-link">
                  <div class="pq-button-block">
                    <div class="pq-svg">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="64.356"
                        height="36.52"
                        viewBox="0 0 64.356 36.52"
                      >
                        <g transform="translate(-6.444 -1.74)">
                          <g data-name="Group 2">
                            <circle
                              data-name="Ellipse 2"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                              opacity="0.5"
                            ></circle>
                            <circle
                              data-name="Ellipse 3"
                              cx="17"
                              cy="17.76"
                              r="17.76"
                              transform="translate(34.78 2.24)"
                              fill="none"
                              stroke="#ffffff"
                              stroke-width="1"
                            ></circle>
                          </g>
                          <path
                            data-name="Path 1"
                            d="M49.525,14.265l-.627.779,5.583,4.5H6.444v1h48.02L48.9,24.954l.621.783L56.7,20.044Z"
                            fill="#ffffff"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
