    <!-- Footer -->
    <footer id="pq-footer">
        <div class="pq-footer-style-1">
          <div class="pq-subscribe align-items-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-12">
                  <div class="pq-subscribe-bg">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6">
                        <div class="pq-footer-logo">
                          <img
                            style="scale: 1.5"
                            src="images/Logo/logo-4.png"
                            class="pq-footer-logo"
                            alt="marblex-footer-logo"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 align-self-center">
                        <div class="pq-subscribe-from">
                          <form>
                            <div class="subscribe-form">
                              <input
                                type="email"
                                name="EMAIL"
                                placeholder="Your email address"
                                class="form-control"
                                required=""
                              />
                              <input
                                class="submit"
                                type="submit"
                                value="Sign up"
                              />
                              <i class="ion-ios-paperplane"></i>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pq-footer-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="widget">
                    <h4 class="footer-title">About Us</h4>
                    <p>
                      King Stone Marble & Granite is a leading provider of premium marble and granite.
                    </p>
                    <ul>
                      <li>
                        <a
                          href="https://wa.me/201271823154"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <i class="fa-brands fa-whatsapp"></i>
                          <span>0 12 71823154</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="widget">
                    <h4 class="footer-title">our navigate</h4>
                    <div class="menu-navigate-menu-container">
                      <ul id="menu-navigate-menu" class="menu">
                        <li class="menu-item">
                          <a href="finishes.html" aria-current="page">Finishes</a>
                        </li>
                        <li class="menu-item">
                          <a href="factory.html">Factory & Quarry</a>
                        </li>
                        <li class="menu-item">
                          <a href="projects.html">Our Projects</a>
                        </li>
                        <li class="menu-item">
                          <a href="contact-us.html">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="widget">
                    <h4 class="footer-title">our Services</h4>
                    <div class="menu-product-menu-container">
                      <ul id="menu-product-menu" class="menu">
                        <li class="menu-item">
                          <a href="slabs.html">Slabs Packing</a>
                        </li>
                        <li class="menu-item">
                          <a href="tiles.html"
                            >Tiles Packing</a
                          >
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="widget widget-port-1">
                    <h4 class="footer-title">Our showroom</h4>
                    <div class="row">
                      <div class="col-sm-12">
                        <ul class="pq-contact">
                          <li>
                            <i class="fas fa-map-marker"></i>
                            <span
                              >King Stone, Cairo, Egypt
                            </span>
                          </li>
                          <li>
                            <a
                              href="https://wa.me/201271823154"
                              target="_blank"
                              rel="noopener noreferrer"
                            >
                              <i class="fa-brands fa-whatsapp"></i>
                              <span>0 12 71823154</span>
                            </a>
                          </li>
                          <li>
                            <a href="mailto:info@kingstone-eg.com">
                              <i class="fas fa-envelope"></i>
                              <span>info@kingstone-eg.com</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pq-copyright-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 align-self-center">
                  <span class="pq-copyright"
                    >Copyright 2025 King Stone All Rights Reserved.</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer -->
  
      <!-- Back To Top -->
      <div id="back-to-top" class="active">
        <a class="top" id="top" href="#top">
          <i class="ion-ios-arrow-up"></i>
        </a>
      </div>
      <!-- Back To Top -->