    <!-- sticky social media -->
    <div
      id="sticky-social-icons-container"
      class="design-rounded alignment-right with-animation hide-in-mobile"
    >
      <ul>
        <li class="fab-fa-facebook" len="8">
          <a
            href="https://www.facebook.com/share/p/YuLFEhc923F4tHim/"
            target="_blank"
            class="fab-fa-facebook"
            aria-label="Facebook"
            data-microtip-position="left"
            role="tooltip"
          >
            <i class="fab fa-facebook"></i
          ></a>
        </li>
        <li class="fab-fa-instagram" len="9">
          <a
            href="https://www.instagram.com/kingstone6224?utm_source=qr&igsh=b3A2bTRucW1jdTZw"
            target="_blank"
            class="fab-fa-instagram"
            aria-label="Instagram"
            data-microtip-position="left"
            role="tooltip"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li class="fab-fa-linkedin" len="8">
          <a
            href="https://www.linkedin.com/in/king-stone-103628331?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            class="fab-fa-linkedin"
            aria-label="LinkedIn"
            data-microtip-position="left"
            role="tooltip"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li class="fab-fa-whatsapp" len="8">
          <a
            href="https://wa.me/201271823154"
            target="_blank"
            class="fab-fa-whatsapp"
            aria-label="WhatsApp"
            data-microtip-position="left"
            role="tooltip"
            ><i class="fab fa-whatsapp"></i
          ></a>
        </li>
        <li class="fab-fa-youtube" len="9">
          <a
            href="https://youtube.com/@kingstonemarblegranite?si=NZ18psHhZHH9MVin"
            target="_blank"
            class="fab-fa-youtube"
            aria-label="youtube"
            data-microtip-position="left"
            role="tooltip"
            ><i class="fab fa-youtube"></i
          ></a>
        </li>
      </ul>
    </div>

    <!-- sticky social media -->



    <!-- Header -->
    <div class="pq-background-overlay"></div>
    <div class="pq-sidebar">
      <div class="pq-close-btn">
        <a class="pq-close" href="javascript:void(0)">
          <i class="ion-close-round"></i>
        </a>
      </div>
      <div class="pq-sidebar-block mCustomScrollbar">
        <div class="pq-sidebar-header">
          <img
            style="scale: 1.5"
            src="images/Logo/logo-4.png"
            class="pq-sidebar-logo"
            alt="marblex-sidebar-logo"
          />
        </div>
        <div class="pq-sidebar-content">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. search for will uncover many web sites still.
          </p>
        </div>
        <div class="pq-sidebars">
          <div class="pq-widget">
            <div class="wp-block-group">
              <div class="wp-block-group__inner-container">
                <h2>Gallery</h2>
                <div class="row">
                  <div class="col-lg-4">
                    <img src="images/gallery/1.jpg" alt="" />
                  </div>
                  <div class="col-lg-4">
                    <img src="images/gallery/2.jpg" alt="" />
                  </div>
                  <div class="col-lg-4">
                    <img src="images/gallery/3.jpg" alt="" />
                  </div>
                  <div class="col-lg-4 mt-4">
                    <img src="images/gallery/4.jpg" alt="" />
                  </div>
                  <div class="col-lg-4 mt-4">
                    <img src="images/gallery/5.jpg" alt="" />
                  </div>
                  <div class="col-lg-4 mt-4">
                    <img src="images/gallery/6.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pq-sidebar-contact">
          <ul class="pq-contact">
            <li>
              <i class="fa fa-map-marker"></i>
              <span>
                Themeforest, Envato HQ 24 Fifth st., Los Angeles, USA
              </span>
            </li>
            <li>
              <a
                href="https://wa.me/201271823154"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-whatsapp"></i>
                <span>0 12 71823154</span>
              </a>
            </li>
            <li>
              <a href="mailto:info@peacefulthemes.com"
                ><i class="fa fa-envelope"></i
                ><span>info@peacefulthemes.com</span></a
              >
            </li>
          </ul>
        </div>
        <div class="pq-sidebar-social">
          <ul>
            <li>
              <a
                target="_blank"
                href="https://www.facebook.com/share/p/YuLFEhc923F4tHim/"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.instagram.com/kingstone6224?utm_source=qr&igsh=b3A2bTRucW1jdTZw"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#"><i class="fab fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <header id="pq-header" class="pq-header-style-4 pq-has-sticky">
      <div class="pq-bottom-header">
        <div class="containerMax">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                  <img
                    class="img-fluid logo"
                    style="scale: 1.5"
                    src="images/Logo/logo-4.png"
                    alt="marblex"
                  />
                </a>
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                <div id="pq-menu-contain" class="pq-menu-contain">
                  <ul id="pq-main-menu" class="navbar-nav ml-auto">
                    <li class="menu-item current-menu-item menu-item-has-children">
                      <a href="index.html" aria-current="page" data-translate-key="menuHome"></a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="#" data-translate-key="menuEgyptianMarble"></a>
                      <i class="fa fa-chevron-down pq-submenu-icon"></i>
                      <ul style="height: 50vh; overflow-y: scroll" class="sub-menu">
                        <li class="menu-item">
                          <a href="about-us.html?name=Sinai Pearl – Triesta&lang=en" data-translate-key="sinaiPearl"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Galala Beige Marble" data-translate-key="galalaBeige"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Galala Light Marble" data-translate-key="galalaLight"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Fletto Marble" data-translate-key="fletto"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Sinai Pearl Gray" data-translate-key="sinaiPearlGray"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Sunny Menia Marble" data-translate-key="sunnyMenia"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Golden Cream Marble" data-translate-key="goldenCream"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Silvia Menia Marble" data-translate-key="silviaMenia"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Sunny Light Marble" data-translate-key="sunnyLight"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Sunny Dark Marble" data-translate-key="sunnyDark"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Sarabajante – Imberial" data-translate-key="sarabajante"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Milly Gray Marble" data-translate-key="millyGray"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Milly Brown Marble" data-translate-key="millyBrown"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Samaha Marble" data-translate-key="samaha"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Katreen Marble" data-translate-key="katreen"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Khatmya Marble" data-translate-key="khatmya"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Zafarana Marble" data-translate-key="zafarana"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Onyx Marble" data-translate-key="onyx"></a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="#" data-translate-key="menuEgyptianGranite"></a>
                      <i class="fa fa-chevron-down pq-submenu-icon"></i>
                      <ul style="height: 50vh; overflow-y: scroll" class="sub-menu">
                        <li class="menu-item">
                          <a href="about-us.html?name=Bianco Halayeb Granite" data-translate-key="biancoHalayeb"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Gandola Granite" data-translate-key="gandola"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=New Halayeb Granite" data-translate-key="newHalayeb"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Rosa Hodi Granite" data-translate-key="rosaHodi"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Red Aswan Granite" data-translate-key="redAswan"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Rosa Elnasr Granite" data-translate-key="rosaElnasr"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Red Forsan Granite" data-translate-key="redForsan"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Verdy Gazal Granite" data-translate-key="verdyGazal"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Red Safaga Granite" data-translate-key="redSafaga"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Rozita Granite" data-translate-key="rozita"></a>
                        </li>
                        <li class="menu-item">
                          <a href="about-us.html?name=Rosa Katreen Granite" data-translate-key="rosaKatreen"></a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="#" data-translate-key="menuPacking"></a>
                      <i class="fa fa-chevron-down pq-submenu-icon"></i>
                      <ul style="max-height: 50vh" class="sub-menu">
                        <li class="menu-item">
                          <a href="slabs.html" data-translate-key="slabsPacking"></a>
                        </li>
                        <li class="menu-item">
                          <a href="tiles.html" data-translate-key="tilesPacking"></a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a href="finishes.html" data-translate-key="menuFinishes"></a>
                    </li>
                    <li class="menu-item">
                      <a href="factory.html" data-translate-key="menuFactory"></a>
                    </li>
                    <li class="menu-item">
                      <a href="projects.html" data-translate-key="menuProjects"></a>
                    </li>
                    <li class="menu-item">
                      <a href="contact-us.html" data-translate-key="menuContact"></a>
                    </li>
                  </ul>
                </div>
                
                </div>
                <div class="pq-header-info-box">
                  <div class="dropdown" tabindex="0">
                    <button id="dropdown-btn"></button>
                    <ul class="dropdown-content" id="dropdown-content"></ul>
                  </div>
                  <div class="pq-toggle-btn">
                    <a href="javascript:void(0)" class="menu-toggle">
                      <span>menu</span>
                    </a>
                  </div>
                </div>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <i class="fas fa-bars"></i>
                </button>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header -->

<script>
  const translationsMenu = {
  en: {
    menuHome: "Home",
    menuEgyptianMarble: "Egyptian Marble",
    menuEgyptianGranite: "Egyptian Granite",
    menuPacking: "Packing",
    menuFinishes: "Finishes",
    menuFactory: "Factory & Quarry",
    menuProjects: "Our Projects",
    menuContact: "Contact Us",
    sinaiPearl: "Sinai Pearl – Triesta",
    galalaBeige: "Galala Beige Marble",
    galalaLight: "Galala Light Marble",
    fletto: "Fletto Marble",
    sinaiPearlGray: "Sinai Pearl Gray",
    sunnyMenia: "Sunny Menia Marble",
    goldenCream: "Golden Cream Marble",
    silviaMenia: "Silvia Menia Marble",
    sunnyLight: "Sunny Light Marble",
    sunnyDark: "Sunny Dark Marble",
    sarabajante: "Sarabajante – Imberial",
    millyGray: "Milly Gray Marble",
    millyBrown: "Milly Brown Marble",
    samaha: "Samaha Marble",
    katreen: "Katreen Marble",
    khatmya: "Khatmya Marble",
    zafarana: "Zafarana Marble",
    onyx: "Onyx Marble",
    biancoHalayeb: "Bianco Halayeb Granite",
    gandola: "Gandola Granite",
    newHalayeb: "New Halayeb Granite",
    rosaHodi: "Rosa Hodi Granite",
    redAswan: "Red Aswan Granite",
    rosaElnasr: "Rosa Elnasr Granite",
    redForsan: "Red Forsan Granite",
    verdyGazal: "Verdy Gazal Granite",
    redSafaga: "Red Safaga Granite",
    rozita: "Rozita Granite",
    rosaKatreen: "Rosa Katreen Granite",
    slabsPacking: "Slabs Packing",
    tilesPacking: "Tiles Packing",
  },
  ar: {
    menuHome: "الرئيسية",
    menuEgyptianMarble: "رخام مصري",
    menuEgyptianGranite: "جرانيت مصري",
    menuPacking: "التعبئة",
    menuFinishes: "التشطيبات",
    menuFactory: "المصنع والمحاجر",
    menuProjects: "مشاريعنا",
    menuContact: "اتصل بنا",
    sinaiPearl: "لؤلؤة سيناء - تريستا",
    galalaBeige: "رخام جلالة بيج",
    galalaLight: "رخام جلالة فاتح",
    fletto: "رخام فليتو",
    sinaiPearlGray: "لؤلؤة سيناء رمادي",
    sunnyMenia: "رخام صني المنيا",
    goldenCream: "رخام كريمي ذهبي",
    silviaMenia: "رخام سيلفيا المنيا",
    sunnyLight: "رخام صني فاتح",
    sunnyDark: "رخام صني غامق",
    sarabajante: "ساراباجنت - إمبيريال",
    millyGray: "رخام ميلي رمادي",
    millyBrown: "رخام ميلي بني",
    samaha: "رخام السماحة",
    katreen: "رخام كاترين",
    khatmya: "رخام ختمية",
    zafarana: "رخام زعفرانة",
    onyx: "رخام أونيكس",
    biancoHalayeb: "جرانيت بيانكو حلايب",
    gandola: "جرانيت جاندولا",
    newHalayeb: "جرانيت نيو حلايب",
    rosaHodi: "جرانيت روزا هودي",
    redAswan: "جرانيت أسوان الأحمر",
    rosaElnasr: "جرانيت روزا النصر",
    redForsan: "جرانيت أحمر فرسان",
    verdyGazal: "جرانيت فردي غزال",
    redSafaga: "جرانيت أحمر سفاجا",
    rozita: "جرانيت روزيتا",
    rosaKatreen: "جرانيت روزا كاترين",
    slabsPacking: "تعبئة الألواح",
    tilesPacking: "تعبئة البلاط",
  },
};

function applyTranslationsMenu() {
  const urlParams = new URLSearchParams(window.location.search);
  const lang = urlParams.get("lang") || "en";

  document.querySelectorAll("[data-translate-key]").forEach((element) => {
    const key = element.getAttribute("data-translate-key");
    if (translationsMenu[lang] && translationsMenu[lang][key]) {
      element.textContent = translationsMenu[lang][key];
    }
  });
}

document.addEventListener("DOMContentLoaded", applyTranslationsMenu);

</script>