<!-- Skill -->
<section class="skill">
  <div class="container">
    <div class="floating-image floating-image-left floating-image-6">
      <img src="images/floating-images/4.png" alt="" />
    </div>
    <div class="row">
      <div class="col-lg-6 wow animated fadeInLeft">
        <div class="pq-sticky-top">
          <div class="pq-section-title pq-style-1 pq-mb-30">
            <span class="pq-section-sub-title">our skill</span>
            <h5 class="pq-section-main-title">
              Marble & Granite Installation Services
            </h5>
            <p class="pq-section-description">
              At King Stone, we specialize in the installation of premium marble
              and granite flooring. These natural stones offer unparalleled beauty,
              durability, and elegance for any space.
            </p>
          </div>
          <a class="pq-button pq-button-flat" href="contact-us.html">
            <div class="pq-button-block">
              <span class="pq-button-text">contact us</span>
              <span class="pq-button-line-right"></span>
              <i class="ion ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0 wow animated fadeInRight">
        <div class="pq-icon-box pq-style-4">
          <div class="pq-icon-box-content">
            <h3 class="pq-icon-box-title">Marble Flooring</h3>
            <p class="pq-icon-box-description">
              Marble flooring is a luxurious and timeless choice that enhances
              the elegance and value of your interiors.
            </p>
          </div>
          <div class="pq-icon">
            <i class="flaticon-tile-1"></i>
          </div>
        </div>
        <div class="pq-icon-box pq-style-4 pq-mt-30">
          <div class="pq-icon-box-content">
            <h3 class="pq-icon-box-title">Granite Flooring</h3>
            <p class="pq-icon-box-description">
              Granite flooring is known for its exceptional durability and
              sophisticated appearance, making it perfect for both residential
              and commercial spaces.
            </p>
          </div>
          <div class="pq-icon">
            <i class="flaticon-stone"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Skill -->
