    <!-- Skill -->
    <section class="skill">
      <div class="container">
        <div class="floating-image floating-image-left floating-image-6">
          <img src="images/floating-images/4.png" alt="" />
        </div>
        <div class="row">
          <div class="col-lg-6 wow animated fadeInLeft">
            <div class="pq-sticky-top">
              <div class="pq-section-title pq-style-1 pq-mb-30">
                <span class="pq-section-sub-title">our skill</span>
                <h5 class="pq-section-main-title">
                  Flooring Installation Services
                </h5>
                <p class="pq-section-description">
                  Flooring installation services are a key offering ofKing
                  Stone, where the company installs flooring made from a variety
                  of materials, including marble, granite, limestone, and other
                  natural stones.
                </p>
              </div>
              <a class="pq-button pq-button-flat" href="services-1.html">
                <div class="pq-button-block">
                  <span class="pq-button-text">read more </span>
                  <span class="pq-button-line-right"></span>
                  <i class="ion ion-ios-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0 wow animated fadeInRight">
            <div class="pq-icon-box pq-style-4">
              <div class="pq-icon-box-content">
                <h3 class="pq-icon-box-title">Carpets & Rugs</h3>
                <p class="pq-icon-box-content">
                  Carpets and rugs are popular flooring options for their
                  softness, warmth & noise-reduce quality.
                </p>
              </div>
              <div class="pq-icon">
                <i class="flaticon-stone"></i>
              </div>
            </div>
            <div class="pq-icon-box pq-style-4 pq-mt-30">
              <div class="pq-icon-box-content">
                <h3 class="pq-icon-box-content">Laminate Flooring</h3>
                <p class="pq-icon-box-description">
                  Laminate flooring is a popular flooring option that simulates
                  the look of hardwood or tile.
                </p>
              </div>
              <div class="pq-icon">
                <i class="flaticon-floor"></i>
              </div>
            </div>
            <div class="pq-icon-box pq-style-4 pq-mt-30">
              <div class="pq-icon-box-content">
                <h3 class="pq-icon-box-title">Marble Flooring</h3>
                <p class="pq-icon-box-description">
                  Marble flooring is a luxurious and elegant flooring option
                  that can add beauty & value any space
                </p>
              </div>
              <div class="pq-icon">
                <i class="flaticon-tile-1"></i>
              </div>
            </div>
            <div class="pq-icon-box pq-style-4 pq-mt-30">
              <div class="pq-icon-box-content">
                <h3 class="pq-icon-box-title">Ceramic Tile</h3>
                <p class="pq-icon-box-description">
                  Ceramic tile is a popular and versatile flooring option that
                  is known for its durability & easy maintenance
                </p>
              </div>
              <div class="pq-icon">
                <i class="flaticon-tile"></i>
              </div>
            </div>
            <div class="pq-icon-box pq-style-4 pq-mt-30">
              <div class="pq-icon-box-content">
                <h3 class="pq-icon-box-title">Industrial Flooring</h3>
                <p class="pq-icon-box-description">
                  industrial flooring options include concrete, epoxy, & other
                  specialized materials that are designed
                </p>
              </div>
              <div class="pq-icon">
                <i class="flaticon-wood"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Skill -->