    <!-- Testimonial -->
    <section class="form pq-bg-dark pq-bg-img-2 p-0">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-12 wow animated fadeInLeft pq-testimonial-slider-padding"
          >
            <div class="pq-section-title pq-style-1 pq-mb-45">
              <span class="pq-section-sub-title">testimonial</span>
              <h5 class="pq-section-main-title pq-text-white">
                What Our Client happy Say About Us
              </h5>
            </div>
            <div class="pq-testimonial-box-slider pq-style-5">
              <div
                class="owl-carousel owl-loaded owl-drag"
                data-dots="true"
                data-nav="false"
                data-desk_num="1"
                data-lap_num="1"
                data-tab_num="1"
                data-mob_num="1"
                data-mob_sm="1"
                data-autoplay="true"
                data-loop="false"
                data-margin="30"
              >
                <div class="item">
                  <div class="pq-testimonial-box pq-style-5">
                    <div class="pq-testimonial-info">
                      <div class="pq-testimonial-content">
                        <div class="pq-testimonial-star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="pq-testimonial-icon">
                          <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="pq-testimonial-description">
                          I recently worked with King Stone on a project to
                          install marble flooring in my home, and I couldn’t be
                          happier with the results! The team at King Stone was
                          professional, knowledgeable, and attentive to my needs
                          throughout the entire process. They helped me select
                          the perfect marble.
                        </p>
                      </div>
                      <div class="pq-testimonial-media">
                        <div class="pq-testimonial-img">
                          <img
                            decoding="async"
                            src="images/testimonial/2.jpg"
                            alt="Testimonial-image"
                          />
                        </div>
                        <div class="pq-testimonial-meta">
                          <h5 class="pq-testmonial-title">Iliena Brown</h5>
                          <span>marketing officer</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-testimonial-box pq-style-5">
                    <div class="pq-testimonial-info">
                      <div class="pq-testimonial-content">
                        <div class="pq-testimonial-star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="pq-testimonial-icon">
                          <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="pq-testimonial-description">
                          King Stone should look for ones that are specific,
                          detailed, and highlight the unique benefits of working
                          with the company. This can include aspects such as the
                          quality of the marble products and and excellent
                          customer service King Stone can these reviews to
                          differentiate itself.
                        </p>
                      </div>
                      <div class="pq-testimonial-media">
                        <div class="pq-testimonial-img">
                          <img
                            decoding="async"
                            src="images/testimonial/1.jpg"
                            alt="Testimonial-image"
                          />
                        </div>
                        <div class="pq-testimonial-meta">
                          <h5 class="pq-testmonial-title">Naidan Smith</h5>
                          <span>manager</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-testimonial-box pq-style-5">
                    <div class="pq-testimonial-info">
                      <div class="pq-testimonial-content">
                        <div class="pq-testimonial-star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="pq-testimonial-icon">
                          <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="pq-testimonial-description">
                          They helped me select the perfect marble for my space,
                          and their installation services were top-notch. The
                          end result is absolutely stunning, and I receive
                          compliments on my new floors every time someone comes
                          to my home. I would highly recommendKing Stone .
                        </p>
                      </div>
                      <div class="pq-testimonial-media">
                        <div class="pq-testimonial-img">
                          <img
                            decoding="async"
                            src="images/testimonial/6.jpg"
                            alt="Testimonial-image"
                          />
                        </div>
                        <div class="pq-testimonial-meta">
                          <h5 class="pq-testmonial-title">Robert Anderson</h5>
                          <span>Production Manager</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-6 wow animated fadeInRight pq-form-position">
            <div class="pq-form-box">
              <div class="pq-section-title pq-style-1 pq-mb-30">
                <span class="pq-section-sub-title">visit </span>
                <h5 class="pq-section-main-title">Book Your Visit Now</h5>
                <p class="pq-section-description">
                  There are many variations of passages of Lorem Ipsum
                  available, the majority have suffered alteration in some form
                </p>
              </div>
              <form action="#" class="pq-applyform">
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="first-name"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="last-name"
                      placeholder="Last Name"
                    />
                  </div>
                  <div class="col-lg-12">
                    <select>
                      <option selected>Choose Service</option>
                      <option value="1">Marble Flooring</option>
                      <option value="2">Ceramic Tile</option>
                      <option value="3">Laminte Flooring</option>
                      <option value="4">Wooden Flooring</option>
                    </select>
                  </div>
                  <div class="col-lg-12">
                    <textarea
                      name="your-message"
                      cols="40"
                      rows="10"
                      placeholder="Write Your Message"
                    ></textarea>
                  </div>
                  <div class="col-lg-12">
                    <a class="pq-button" href="#">
                      <div class="pq-button-block">
                        <span class="pq-button-text me-0">SUBMIT REQUEST</span>
                      </div>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- Testimonial -->