    <!-- Warehouse -->
    <section class="warehouse pq-bg-dark pq-bg-img-2">
        <div class="container">
          <div class="row align-items-center pq-pb-130">
            <div class="col-xl-6 wow animated fadeInLeft">
              <div class="pq-warehouse-img-overflow">
                <img
                  src="images/warehouse/1.jpg"
                  class="img-fluid w-100"
                  alt=""
                />
              </div>
            </div>
            <div class="col-xl-6 mt-4 mt-xl-0 ps-xl-30 wow animated fadeInRight">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title">about us</span>
                <h5 class="pq-section-main-title pq-text-white">
                  Visit Our Marble &amp; Granite Display Warehouse
                </h5>
                <p class="pq-section-description pq-text-white">
                  King Stone could potentially use a display warehouse to showcase
                  its range of marble products, such as slabs, tiles, countertops.
                </p>
              </div>
              <div class="pq-heading-box pq-mt-30">
                <h5 class="pq-heading-box-title">
                  <span>01</span>The Best Company For Marble
                </h5>
                <div class="divider pq-my-30"></div>
                <h5 class="pq-heading-box-title">
                  <span>02</span>Granite And Marble Suppliers
                </h5>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 wow animated fadeInLeft">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title">choose your stone</span>
                <h5 class="pq-section-main-title pq-text-white">
                  showroom with 250 selections
                </h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 wow animated fadeInLeft">
              <div class="button-align">
                <a class="pq-button pq-button-flat" href="services-1.html">
                  <div class="pq-button-block">
                    <span class="pq-button-text">view more </span>
                    <span class="pq-button-line-right"></span>
                    <i class="ion ion-ios-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-12 wow animated fadeInLeft">
              <div class="divider pq-left-border pq-45"></div>
            </div>
            <div class="col-lg-4 col-md-6 wow animated fadeInUp">
              <div class="pq-image-box pq-style-4">
                <div class="pq-image-box-img">
                  <a href="#"
                    ><img
                      src="images/stone/grid/1.jpg"
                      class="img-fluid w-100"
                      alt=""
                  /></a>
                </div>
                <div class="pq-image-box-content">
                  <h4 class="pq-image-box-title"><a href="#">Marble</a></h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
              <div class="pq-image-box pq-style-4">
                <div class="pq-image-box-img">
                  <a href="#"
                    ><img
                      src="images/stone/grid/2.jpg"
                      class="img-fluid w-100"
                      alt=""
                  /></a>
                </div>
                <div class="pq-image-box-content">
                  <h4 class="pq-image-box-title"><a href="#">Granite</a></h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
              <div class="pq-image-box pq-style-4">
                <div class="pq-image-box-img">
                  <a href="#"
                    ><img
                      src="images/stone/grid/3.jpg"
                      class="img-fluid w-100"
                      alt=""
                  /></a>
                </div>
                <div class="pq-image-box-content">
                  <h4 class="pq-image-box-title"><a href="#">Quartzite</a></h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow animated fadeInUp">
              <div class="pq-image-box pq-style-4">
                <div class="pq-image-box-img">
                  <a href="#"
                    ><img
                      src="images/stone/grid/4.jpg"
                      class="img-fluid w-100"
                      alt=""
                  /></a>
                </div>
                <div class="pq-image-box-content">
                  <h4 class="pq-image-box-title"><a href="#">Limestone</a></h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow animated fadeInUp">
              <div class="pq-image-box pq-style-4">
                <div class="pq-image-box-img">
                  <a href="#"
                    ><img
                      src="images/stone/grid/5.jpg"
                      class="img-fluid w-100"
                      alt=""
                  /></a>
                </div>
                <div class="pq-image-box-content">
                  <h4 class="pq-image-box-title"><a href="#">Travertine</a></h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow animated fadeInUp">
              <div class="pq-image-box pq-style-4">
                <div class="pq-image-box-img">
                  <a href="#"
                    ><img
                      src="images/stone/grid/6.jpg"
                      class="img-fluid w-100"
                      alt=""
                  /></a>
                </div>
                <div class="pq-image-box-content">
                  <h4 class="pq-image-box-title"><a href="#">Onyx</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Warehouse -->